name: CI/CD - Ansible Practice

on:
  push:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Ansible syntax check
        run: ansible-playbook ansible/playbooks/deploy.yml -i ansible/inventories/production.yml --syntax-check

      - name: Simulate Deployment
        run: ansible-playbook ansible/playbooks/deploy.yml -i ansible/inventories/production.yml --check
